* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem;
    gap: 1rem;

    .sentence {
        flex: 1;
        min-width: 300px;
    }

    .m-y {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 3px;

    }

    p {
        font-size: 80%;
        color: rgb(150, 150, 150);
    }

    span {
        font-size: 75%;
        color: rgb(150, 150, 150);
    }

    i {
        font-size: 25px;
    }
}
main {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 1.5rem;

}
    .container_1 {
    display: flex;
    flex-basis: calc(100% / 3 - (15px * 2) / 3);
    flex-shrink: 0;
    min-width: 360px;
    flex-direction: column;
    padding: 3rem;
    background-color: white;
    border-radius: 25px;
    box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.481);
    
    p { 
        font-size: 14px;
    }
    /*price tag*/
    .price {
        display: flex;
        justify-content: center;
        align-items: baseline;
        padding: 1rem;
        gap: 3px;
    }

    .dollar {
        font-weight: 600;
    }

    .amount {
        font-size: 45px;
        font-weight: 700;
    }

    /*save money*/
    .offer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 2px;
        font-weight: 200;
    }

    .off {
        background-color: rgba(185, 185, 185, 0.662);
        padding: 4px;
        border-radius: 10px;
        
    }

    /*button*/
    
    button {
        font-weight: 700;
        padding: 1rem;
        border: none;
        border-radius: 10px;
        background-color: rgb(116, 22, 239);
        color: white;
    }

    /*list*/
    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem 0rem 1.5rem 0rem;
        list-style-type: none;
    }
}
    .container_2 {
    display: flex;
    flex-basis: calc(100% / 3 - (15px * 2) / 3);
    flex-shrink: 0;
    min-width: 360px;
    background-color: rgb(116, 22, 239);
    flex-direction: column;
    padding: 3rem;
    
    border-radius: 25px;
    box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.481);
    color: white;
    
    p { 
        font-size: 14px;
    }
    /*price tag*/
    .price {
        display: flex;
        justify-content: center;
        align-items: baseline;
        padding: 1rem;
        gap: 3px;
    }

    .dollar {
        font-weight: 600;
    }

    .amount {
        font-size: 45px;
        font-weight: 700;
    }

    /*save money*/
    .offer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 2px;
        font-weight: 200;
    }

    .off {
        background-color: rgba(255, 254, 254, 0.878);
        padding: 4px;
        border-radius: 10px;
        color: black;
        
    }

    /*button*/
    
    button {
        font-weight: 700;
        padding: 1rem;
        border: none;
        border-radius: 10px;
        background-color: white;
        color: rgb(116, 22, 239);;
    }

    /*list*/
    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem 0rem 1.5rem 0rem;
        list-style-type: none;
    }
}
    .container_3 {
    display: flex;
    flex-basis: calc(100% / 3 - (15px * 2) / 3);
    flex-shrink: 0;
    min-width: 360px;
    flex-direction: column;
    padding: 3rem;
    background-color: white;
    border-radius: 25px;
    box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.481);
    
    p { 
        font-size: 14px;
    }
    /*price tag*/
    .price {
        display: flex;
        justify-content: center;
        align-items: baseline;
        padding: 1rem;
        gap: 3px;
    }

    .dollar {
        font-weight: 600;
    }

    .amount {
        font-size: 45px;
        font-weight: 700;
    }

    /*save money*/
    .offer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 2px;
        font-weight: 200;
    }

    .off {
        background-color: rgba(185, 185, 185, 0.662);
        padding: 4px;
        border-radius: 10px;
        
    }

    /*button*/
    
    button {
        font-weight: 700;
        padding: 1rem;
        border: none;
        border-radius: 10px;
        background-color: rgb(116, 22, 239);
        color: white;
    }

    /*list*/
    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem 0rem 1.5rem 0rem;
        list-style-type: none;
    }
}




